@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* A Fonte oficial do Windows XP */
  font-family: 'Tahoma', 'Verdana', sans-serif;
  -webkit-font-smoothing: none; /* O XP não tinha suavização forte */
}

/* Scrollbar estilo clássico (cinza) */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #ece9d8;
}
::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border: 2px solid #ece9d8;
  border-radius: 0;
}
::-webkit-scrollbar-button {
  background-color: #ece9d8;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-right-color: #716f64;
  border-bottom-color: #716f64;
}